
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#account-profile-image {
    max-height: 20em;
    max-width: 20em;
}

#navbar-profile-image {
    /* max-height: 25px; */
    height: auto;
    max-width: 20px;
}