
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#account-profile-image {
    max-height: 240px;
    max-width: 240px;
}

#navbar-profile-image {
    /* max-height: 25px; */
    height: auto;
    max-width: 20px;
}

.flash-message {
    margin-left: 30%;
    width: 40%;
}